*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-size: 20px;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 80%;
    height: 80%;
    background-color: #fff;


    display: grid;
    /* calc(100% - (200px + 2rem)) */
    /* repeat(4, 1fr) => 1fr 1fr 1fr 1fr */

    grid-template-columns: repeat(3, 1fr);

    grid-template-rows: 40% 50% 10%;

}

.container .box1
{
    background-color: #f00;
}

.container .box2
{
    background-color: #0f0;
}

.container .box3
{
    background-color: #00f;
}

.container .box4
{
    background-color: #0ff;
}