*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-size: 20px;
}

:root{
    --color1: #111;
    --color2: #a31;
    --color3: #5a2;
    --color4: #78c;
    --color5: #dcd;  
}

/* TODO: Ejemplo #1 de GRID */

.contenedor {
    background-color: var(--color1);

    width: 100vw;
    height: 100vh;

    padding: .5rem;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    gap: .5rem;
}

.contenedor .elemento1{
    background-color: var(--color2);

    grid-column: 3/4;
    grid-row: 2/3;
}
.contenedor .elemento2{
    background-color: var(--color3);

    grid-row: 3/4;
    grid-column: 2/3;
    
}
.contenedor .elemento3{
    background-color: var(--color4);

    grid-column: 1/2;
    grid-row: 2/3;
}
.contenedor .elemento4{
    background-color: var(--color5);

    grid-column: 3/4;
    grid-row: 1/2;
}

.contenedor div {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* TODO: Ejemplo #2 de GRID */


.contenedor2 {
    background-color: var(--color1);

    width: 100vw;
    height: 100vh;

    padding: .5rem;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    gap: .5rem;
}

.contenedor2 .elemento1{
    background-color: var(--color2);

    grid-column: 1/2;
    grid-row: 1/4;
}
.contenedor2 .elemento2{
    background-color: var(--color3);

    grid-column: 2/4;
    grid-row: 1/2;
    
}
.contenedor2 .elemento3{
    background-color: var(--color4);

    grid-column: 2/4;
    grid-row: 2/4;

}

.contenedor2 div {
    display: flex;
    justify-content: center;
    align-items: center;
}



/* TODO: Ejemplo #3 de GRID */

.contenedor3 {
    background-color: var(--color1);

    width: 100vw;
    height: 100vh;

    padding: .5rem;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    gap: .5rem;
}

.contenedor3 .elemento1{
    background-color: var(--color2);

    grid-column: span 1;
    grid-row: span 3;
}
.contenedor3 .elemento2{
    background-color: var(--color3);

    grid-column: span 2;
    
}
.contenedor3 .elemento3{
    background-color: var(--color4);

    grid-row: span 2;
    grid-column: span 2;

}

.contenedor3 div {
    display: flex;
    justify-content: center;
    align-items: center;
}